<div class="score-board">
    <div class="badge" id="user-label">user : {{userChoice}}</div>
    <div class="badge" id="comp-label">comp : {{computerChoice}}</div>
    <div class="scoreboard" id="score">
        <span id="user-score">{{userScore}}</span>:<span id="comp-score">{{computerScore}}</span>
    </div>
</div>

<div class="choices">
    <div class="choice" id="rock">
        <img src="../assets/images/rock.png" width="75" height="75" (click)='userChoose("rock")'>
    </div>
    <div class="choice" id="paper">
        <img src="../assets/images/paper.png" width="75" height="75" (click)='userChoose("paper")'>
    </div>
    <div class="choice" id="scissors">
        <img src="../assets/images/scissors.png" width="75" height="75" (click)='userChoose("scissors")'>
    </div>
</div>

<table mat-table [dataSource]='tableRow' class="mat-elevation-z8">
    <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> Player </th>
        <td mat-cell *matCellDef='let element'> {{element.userPlay}} </td>
    </ng-container>
    <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> Player </th>
        <td mat-cell *matCellDef='let element'> {{element.userPlay}} </td>
    </ng-container>
    <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> Player </th>
        <td mat-cell *matCellDef='let element'> {{element.userPlay}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
</table>