* {
    margin: 0;
    padding: 0;
}

.choices {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    gap: 10%;
}

.choice {
    width: 33%;
    float: left;
    position: relative;
}

.choice::after {
    content: "";
    display: table;
    clear: both;
}

#rock {
    filter: opacity(0.75) drop-shadow(0 0 0 indigo);
}

#paper {
    filter: opacity(0.75) drop-shadow(0 0 0 blue);
}

#scissors {
    filter: opacity(0.75) drop-shadow(0 0 0 violet);
}

.win {
    background-color: lightgreen;
}

.lose {
    background-color: #E8591F;
}

.draw {
    background-color: lightgrey;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

th {
    font-weight: bolder;
    font-size: x-large;
    font-family: fantasy;
    color: aliceblue;
}

td {
    font-weight: bold;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    vertical-align: middle;
}

.mat-header-cell {
    text-align: center;
    justify-content: center;
}

.mat-cell {
    text-align: center;
    justify-content: center;
}

mat-grid-tile-header {
    justify-content: center;
}

mat-card {
    width: 200px;
    text-align: center;
}

mat-card-header {
    height: 100px;
    display: flex;
}