<div class="score-board">
    <div class="badge" id="user-label">user : {{userChoice}}</div>
    <div class="badge" id="comp-label">comp : {{computerChoice}}</div>
    <div class="scoreboard" id="score">
        <span id="user-score">{{userScore}}</span>:<span id="comp-score">{{computerScore}}</span>
    </div>
</div>

<div class="choices">
    <div class="choice" id="rock">
        <img src="../assets/images/rock.png" (click)='userChoose("rock")'>
    </div>
    <div class="choice" id="paper">
        <img src="../assets/images/paper.png" (click)='userChoose("paper")'>
    </div>
    <div class="choice" id="scissors">
        <img src="../assets/images/scissors.png" (click)='userChoose("scissors")'>
    </div>
</div>