* {
    margin: 0;
    padding: 0;
}

.choices {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    gap: 10%;
}

.choice {
    width: 33%;
    float: left;
    position: relative;
}

.choice::after {
    content: "";
    display: table;
    clear: both;
}

#rock {
    filter: opacity(0.75) drop-shadow(0 0 0 grey);
}

#paper {
    filter: opacity(0.75) drop-shadow(0 0 0 blue);
}

#scissors {
    filter: opacity(0.75) drop-shadow(0 0 0 silver);
}

.score-board {
    margin: 20px auto;
    border: 2px solid white;
    color: white;
    width: 200px;
    border-radius: 4px;
    text-align: center;
    font-size: 46px;
    padding: 20px 20px;
    position: relative;
}

.badge {
    background: chocolate;
    font-size: 30px;
}

.scoreboard {
    background: purple;
    font-size: 25px;
}